<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @list.category %>
</p>

<p>
  <strong>Price:$</strong>
  <%= @list.price %>
</p>

<p>
  <strong>Size:</strong>
  <%= @list.size %>
</p>

<p>
  <strong>Color:</strong>
  <%= @list.color %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @list.priority %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @list.avatar_url if @list.avatar.present? %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
